<div id="nav-container">
    <div id="nav-wrapper">
        <ul id="nav">
            <li>
                <a href="###"><i class="glyphicon glyphicon-list"></i><span>EF Config</span></a>
                <ul style="display:block;">
                    <li><a href="/efconfig/CCL/index.html"><i class="fa fa-caret-right"></i><span>CCL</span></a></li>
					<li><a href="/efconfig/WCF/index.html"><i class="fa fa-caret-right"></i><span>WCF</span></a></li>
					<li><a href="/efconfig/ConfigValue/index.html"><i class="fa fa-caret-right"></i><span>Config Value</span></a></li>
                    <li><a href="/efconfig/ConnectionString/index.html"><i class="fa fa-caret-right"></i><span>Connection String</span></a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>