<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<% include ../partials/headScript %>
</head>
<body>
    <div class="no-print">
		<% include ../partials/pageHeader %>
		<% include ../partials/navigation %>
	</div>

    <div class="view-container">
        <div id="content">
            <!--BODY-->
			
        </div>
    </div>

	<% include ../partials/footScript %>
</body>
</html>