<!DOCTYPE html>
<html>
  <head>
    <title></title>
	<% include ../partials/head %>
    <link rel='stylesheet' href='/css/efconfig/connectionstring.css' />
  </head>
  <body>
	<% include ../partials/header %>

	
	
	
	<script type="text/javascript" src="/js/efconfig/connectionstring.js"></script>
	<% include ../partials/footer %>
  </body>

</html>