<!DOCTYPE html>
<html>
  <head>
    <title></title>
	<% include ../partials/head %>
    <link rel='stylesheet' href='/css/efconfig/connectionstring.css' />
  </head>
  <body>
	<% include ../partials/header %>

	<!--begin-->
	
<div class="container-fluid">
  <div class="row">
	<div class="col-sm-3 col-md-2 sidebar">
	  <ul class="nav nav-sidebar">
		<li><a href="#ConnectionString">ConnectionString</a></li>
		<li><a href="#ConnectionStringNamespace">ConnectionStringNamespace</a></li>
	  </ul>
	</div>
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			
		<h2 class="sub-header" id="ConnectionString">ConnectionString</h2>
		<div class="table-responsive">
		<table class="table table-striped">
		  <thead>
			<tr>
			  <th>#</th>
			  <th>Header</th>
			  <th>Header</th>
			  <th>Header</th>
			  <th>Header</th>
			</tr>
		  </thead>
		  <tbody>
			<tr>
			  <td>1,001</td>
			  <td>Lorem</td>
			  <td>ipsum</td>
			  <td>dolor</td>
			  <td>sit</td>
			</tr>
			<tr>
			  <td>1,002</td>
			  <td>amet</td>
			  <td>consectetur</td>
			  <td>adipiscing</td>
			  <td>elit</td>
			</tr>
			<tr>
			  <td>1,003</td>
			  <td>Integer</td>
			  <td>nec</td>
			  <td>odio</td>
			  <td>Praesent</td>
			</tr>
			<tr>
			  <td>1,003</td>
			  <td>libero</td>
			  <td>Sed</td>
			  <td>cursus</td>
			  <td>ante</td>
			</tr>
			<tr>
			  <td>1,004</td>
			  <td>dapibus</td>
			  <td>diam</td>
			  <td>Sed</td>
			  <td>nisi</td>
			</tr>
			
		  </tbody>
		</table>
		</div>

		
					
		<h2 class="sub-header" id="ConnectionStringNamespace">ConnectionStringNamespace</h2>
		<div class="table-responsive">
		<table class="table table-striped">
		  <thead>
			<tr>
			  <th>#</th>
			  <th>Header</th>
			  <th>Header</th>
			  <th>Header</th>
			  <th>Header</th>
			</tr>
		  </thead>
		  <tbody>
			<tr>
			  <td>1,001</td>
			  <td>Lorem</td>
			  <td>ipsum</td>
			  <td>dolor</td>
			  <td>sit</td>
			</tr>
			<tr>
			  <td>1,002</td>
			  <td>amet</td>
			  <td>consectetur</td>
			  <td>adipiscing</td>
			  <td>elit</td>
			</tr>
			<tr>
			  <td>1,003</td>
			  <td>Integer</td>
			  <td>nec</td>
			  <td>odio</td>
			  <td>Praesent</td>
			</tr>
			<tr>
			  <td>1,003</td>
			  <td>libero</td>
			  <td>Sed</td>
			  <td>cursus</td>
			  <td>ante</td>
			</tr>
			<tr>
			  <td>1,004</td>
			  <td>dapibus</td>
			  <td>diam</td>
			  <td>Sed</td>
			  <td>nisi</td>
			</tr>
			
		  </tbody>
		</table>
		</div>

		
	</div>
  </div>
</div>
	
	
	<!--end-->
	
	<script type="text/javascript" src="/js/efconfig/connectionstring.js"></script>
	<% include ../partials/footer %>
  </body>

</html>