<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<% include ../partials/headScript %>
	<title>Connection String - EF Config</title>
</head>
<body>
    <div class="no-print">
		<% include ../partials/pageHeader %>
		<% include ../partials/navigation %>
	</div>

    <div class="view-container">
        <div id="content" ng-controller="defaultCtrl">
            <!--BODY-->
			<input name="username" type="text" ng-model="username" />
        </div>
    </div>

	<% include ../partials/footScript %>
	<script src="/Resources/Script/ConnectionString/index.js" type="text/javascript"></script>
</body>
</html>